<html>
    <head>
        <!--  Load CSS in Flask with html-->
      <link rel="stylesheet" href='/StaticFiles/main.css' />
      <!--  Load JavaScript in Flask with html-->
      <div class="wrapper">

        <title>Search Results for {{ search_str }}</title>
    </head>
    <body>
        <section>
        <ul>
        <br>
        {% for key1,value in found_devices.items(): %}
        {% for key2,dev in value.items(): %}
        {{ key2 }}: {{ dev }}
        <br>
        {% endfor %}
        <br>
        {% endfor %}
    </section>
	</ul>
    </body>
</div>
</html>


